/**
 * @section Frontend
 */
div.projectmanager { margin-bottom: 1em; }

/* Header above simple Output */
div.projectmanager_tablenav {
	float: left;
	margin-top: 1em;
	clear: both;
}
div.projectmanager_tablenav select.postform {
	padding: 0;
	margin: 0;
	background: white;
	}
div.projectmanager_tablenav select, div.projectmanager_tablenav select.postform {
	margin-right: 0.5em;
	}

/* Simple Table Output */
table.projectmanager {
	clear: both;
	border: none;
	width: 100%;
	margin: 1em 0 0 0;
	padding: 0;
	}
table.projectmanager th, table.projectmanager td {
	padding: 3px 5px;
	}
table.projectmanager ul {
	list-style-type: none;
	}
table.projectmanager ul li {
	padding: 1px;
	}
table.projectmanager td img {
	display: block;
	margin: auto;
	}

/* Gallery Output */
.dataset_gallery {
	clear: both;
	padding-top: 1em;
}
.dataset_gallery .gallery-item {
	float: left;
	}
.dataset_gallery .gallery-image img {
	display: block;
	border: 1px solid #cfcfcf;
	margin: 0.5em auto;
	padding: 4px;
}
.dataset_gallery .gallery-image img:hover {
	padding: 0;
	border: 5px solid #cfcfcf;
	}
.dataset_gallery .caption {
	text-align: center;
	margin: 0.2em 0 1.5em 0;
	font-size: 0.8em;
	}

/* Single View */
fieldset.dataset {
	font-size: 1em;
	border: 1px solid;
	padding: 1em;
	margin: 1em 0
	}
fieldset.dataset legend {
	font-size: 1.1em;
	padding: 0px 3px;
	}
fieldset.dataset .image {
	float: right;
	padding: 2px;
	border: 1px solid #cfcfcf;
	margin-left: 1em;
	}
fieldset.dataset img {
	margin: 0;
	border: 1px solid #cfcfcf;
	}
fieldset.dataset dt {
	font-weight: bold;
	}
fieldset.dataset dl {
	}
fieldset.dataset dt {
	}
fieldset.dataset dd {

	}
	
ul.projectmanager, ol.projectmanager {
	clear: both;
	}

/* Pages */
p.page-numbers {
	clear: both;
	text-align: center;
	font-size: 1em;
	margin: 1em 0;
	}
p.page-numbers a {
	padding: 2px 5px 0 5px;
	border: 1px solid #cfcfcf;
	border-bottom: none;
	}
p.page-numbers span { font-weight: bold; }
p.page-numbers span.current {
	font-weight: bold;
	border: none;
	}

/* Error Message */
p.error {
	clear: both;
	text-align: center;
	margin-top: 3em;
	color: #c00;
	}
	
	
/**
 * @section Administration
 */
#datasets tr { cursor: move; }

a.image_link { border-bottom: none !important; }
	
p.projectmanager_breadcrumb { float: right; margin: 1.5em 1.5em 0em auto; }

div.projectmanager_thickbox { text-align: center; }
div.projectmanager_thickbox input, div.projectmanager_thickbox textarea, div.projectmanager_thickbox select { margin-top: 1em; }
div.projectmanager_thickbox ul { margin: 1em auto auto 1em; }
div.projectmanager_thickbox p { text-align: left; margin: 0; padding: 0}
	
div#projectmanager-category-adder {
	height: 180px;
	background-color: #ffffff;
	padding: 5px;
	width: 30%;
	overflow: auto;
	}
	
ul.checkboxlist, ul.radiolist, ul.categorychecklist, ul.children {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	list-style-image: none;
}
ul.checkboxlist li, ul.radiolist li, ul.categorychecklist li, ul.children li {
	margin: 0;
	padding: 7px 0;
	text-align: left;
	list-style-type: none;
	list-style-image: none;
}
ul.checkboxlist li label, ul.checkboxlist li input, ul.radiolist li label, ul.radiolist li input,
ul.categorychecklist li label, ul.categorychecklist li input, ul.children li label, ul.children li input {
	margin: 0 3px;
	padding: 0;
	}

	
/**
 * @section Widget
 */
.projectmanager_slideshow {
	background-image: none;
	background-color: white;
	position: relative;
	display: block;
	text-align: center;
}

.projectmanager_slideshow a {
	display: block;
	margin: 8px 0;
	}
.projectmanager_slideshow img {
	border: none;
	display: block;
	margin: 0 auto;
}

	
.projectmanager_widget_control p {
	text-align: left;
	clear: both;
}
.projectmanager_widget_control input {
	display: inline;
	clear: none;
	width: auto;
	border-width: 1px;
	border-style: solid;
	border-collapse: separate;
	border-spacing: 0;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.projectmanager_widget_control select {
	display: inline;
	clear: none;
	width: auto;
}
.projectmanager_widget_control label {
	padding: 0.5em 0.5em;
	width: 6em;
	float: left;
}
.projectmanager_widget_control .slideshow_control {
	padding: 5px;
	border: 1px dashed #cfcfcf;
	margin-bottom: 1em;
}
.projectmanager_widget_control .slideshow_control legend {
	font-weight: bold;
}
.projectmanager_widget_control .slideshow_control label.right {
	padding: 0.5em 0.5em;
	float: none;
	width: auto;
}


/*--- JQuery Slideshow Styles. Cleaned ---*/

.slideshow {
/*padding:2px;*/
position:relative;
/*border:2px solid #eee;
background-color:#eee;*/
display:none; /* Set to "none" for not preview slideshow content */
}

.slideshow-content {
/*border:1px solid #ccc;*/
background-color:#fff;
color:#333;
overflow:hidden;
position:relative;
width:100%;
height:100%;
}