/* --- Frontend Design --- */
.projectmanager_left { float: left; margin: auto 1em 1em 0; }
.projectmanager_right { float: right; margin: auto 0 1em 1em; }
.projectmanager_center { display: block; margin: auto; }


table.projectmanager { clear: both; border: none; margin-top: 1em; width: 100%; color: #000000;	}
table.projectmanager th, table.projectmanager td { padding: 3px 5px; }
table.projectmanager th { background: #dfdfdf; }
table.projectmanager .alternate { background: #f1f1f1; }
table.projectmanager ul { list-style-type: none; }
table.projectmanager ul li { padding: 1px; }

fieldset.dataset { width: 100%; font-size: 1em; border: 1px solid #a6b7b1; color: #000000; }
fieldset.dataset legend { font-size: 1.1em; padding: 0px 3px; }
fieldset.dataset img { margin-left: 0.5em; float: right; }

ul.projectmanager, ol.projectmanager { clear: both; }

p.pagination {
	clear: both;
	text-align: left;
	font-size: 1em;
	margin: 0.5em 0;
	}
p.pagination span.current {
	font-weight: bold;
	text-decoration: underline;
}

a.image_link {
	border-bottom: none !important;
	}
p.error {
	clear: both;
	margin-top: 2em;
	text-align: center;
	color: #b50000;
	}
p.info {
	font-size: 0.8em;
	font-style: italic;
	margin: 0.5em 0;
	padding: 0;
	}
	
/** ------------------- Admin Styles -----------------------**/
table#projectmanager_form_fields_table thead th {
	background-color: #ffffff;
	}
form.projectmanager {
	
	}
form.projectmanager label {
	padding: 1em 0.5em 0em 0em;
	width: 10em;
	float: left;
	line-height: 1.5em;
	font-size: 1em;
	}
label.projectmanager-widget {
	padding: 0.5em 0.5em;
	width: 5em;
	float: left;
	font-size: 1em;
	}
form.projectmanager label.right {
	padding: 0;
	width: 100%;
	float: none;
	font-size: 1em;
	line-height: 1.5em;
	margin-right: 5px;
	}
	
form.projectmanager input, select {
	margin: 1em 0em 0em 0em;
	line-height: 1.5em;
	}
	
form.projectmanager #postdivrich textarea, form.projectmanager #postdiv textarea {
	padding: 5px;
	line-height: 140%;
	margin: 0;
	width: 100%;
	border: 1px solid #ccc;
	}
form.projectmanager #postdivrich textarea:active, form.projectmanager #postdiv textarea:active {
	border: 1px solid #ccc;
	}
	
form.projectmanager option {
	border: none;
	background: transparent;
	color: #000000;
	padding: 0 3px;
	margin: 0;
	}
form.projectmanager select {
	margin: 1em 1em 0em 0em;
	line-height: 1.5em;
	}
	
form.projectmanager br {
	clear: left;
	}

p.projectmanager_breadcrumb {
	float: right;
	margin: 0 1.5em 1.3em auto;
	}
div.wrap h2 {
	clear: none;
	}
.caption {
	margin: 2px 0px 5px 0px;
	}